
####################
L3VPN EVPN with VyOS
####################

| Testdate: {{ current_date }}
| Version: {{ node_template_version }}
{% if upgrade %}
| Upgrade Version: {{ upgrade_iso_version }}
{% endif %}

I spun up a new lab in EVE-NG, which represents this as the
"Foo Bar - Service Provider Inc." that has 3 points of presence (PoP) in random
datacenters/sites named PE1, PE2, and PE3. Each PoP aggregates at least two
customers.

I named the customers blue, red and green which is common practice in
VRF (Virtual Routing and Forwarding) documentation scenarios.

* PE1 is located in an industrial area that holds multiple office buildings.
  All customers have a site in this area.
* PE2 is located in a smaller area where by coincidence two customers
  (blue and red) share an office building.
* PE3 is located in a smaller area where by coincidence two customers
  (blue and green) are located.

**************
Management VRF
**************

A brief excursion into VRFs: This has been one of the longest-standing feature
requests of VyOS (dating back to 2016) which can be described as
"a VLAN for layer 2 is what a VRF is for layer 3". 
With VRFs, a router/system can hold multiple, isolated routing tables on the
same system. If you wonder what's the difference between multiple tables that
people used for policy-based routing since forever, it's that a VRF also
isolates connected routes rather than just static and dynamically learned
routes, so it allows NICs in different VRFs to use conflicting network
ranges without issues.

VyOS 1.3 added initial support for VRFs (including IPv4/IPv6 static routing)
and VyOS 1.4 now enables full dynamic routing protocol support for
OSPF, IS-IS, and BGP for individual VRFs.

The lab I built is using a VRF (called **mgmt**) to provide out-of-band
SSH access to the PE (Provider Edge) routers. 

.. literalinclude:: {{ output_include_dir }}/PE1.conf
   :language: none
   :lines: 1-6


********
Topology
********

We use the following network topology in this example:

.. image:: {{ output_include_dir }}/topology.png
  :alt: L3VPN EVPN with VyOS topology image


************
Core network
************

I chose to run OSPF as the IGP (Interior Gateway Protocol).
All required BGP sessions are established via a dummy interfaces
(similar to the loopback, but in Linux you can have only one loopback,
while there can be many dummy interfaces) on the PE routers. In case of a link
failure, traffic is diverted in the other direction in this triangle setup and
BGP sessions will not go down. One could even enable
BFD (Bidirectional Forwarding Detection) on the links for a faster
failover and resilience in the network.

Regular VyOS users will notice that the BGP syntax has changed in VyOS 1.4 from
even the prior post about this subject. This is due to T1711, where it was
finally decided to get rid of the redundant BGP ASN (Autonomous System Number)
specification on the CLI and move it to a single leaf node
(set protocols bgp local-as).

It's important to note that all your existing configurations will be migrated
automatically on image upgrade. Nothing to do on your side.

PE1

.. literalinclude:: {{ output_include_dir }}/PE1.conf
   :language: none
   :lines: 8-38

PE2

.. literalinclude:: {{ output_include_dir }}/PE2.conf
   :language: none
   :lines: 8-38

PE3

.. literalinclude:: {{ output_include_dir }}/PE3.conf
   :language: none
   :lines: 8-38


**********************
Tenant networks (VRFs)
**********************

Once all routers can be safely remotely managed and the core network is
operational, we can now setup the tenant networks.

Every tenant is assigned an individual VRF that would support overlapping
address ranges for customers blue, red and green. In our example,
we do not use overlapping ranges to make it easier when showing debug commands.

Thus you can easily match it to one of the devices/networks below.

Every router that provides access to a customer network needs to have the
customer network (VRF + VNI) configured. To make our own lives easier,
we utilize the same VRF table id (local routing table number) and
VNI (Virtual Network Identifier) per tenant on all our routers.

* blue uses local routing table id and VNI 2000
* red uses local routing table id and VNI 3000
* green uses local routing table id and VNI 4000

PE1

.. literalinclude:: {{ output_include_dir }}/PE1.conf
   :language: none
   :lines: 40-96

PE2

.. literalinclude:: {{ output_include_dir }}/PE2.conf
   :language: none
   :lines: 40-89

PE3

.. literalinclude:: {{ output_include_dir }}/PE3.conf
   :language: none
   :lines: 40-89

*********************
Testing and debugging
*********************

You managed to come this far, now we want to see the network and routing
tables in action.

Show routes for all VRFs

{% for item in hostvars['PE1']['stdout'] %}
{% if item['item']['name'] == 'vrf_all' %}

.. code-block:: none

   vyos@PE1:~$ {{ item['item']['command'] }}
{% for line in item['stdout_lines'][0] %}
   {{ line }}
{% endfor %}
{% endif %}
{% endfor %}

Information about Ethernet Virtual Private Networks

{% for item in hostvars['PE1']['stdout'] %}
{% if item['item']['name'] == 'bgp_evpn' %}

.. code-block:: none

   vyos@PE1:~$ {{ item['item']['command'] }}
{% for line in item['stdout_lines'][0] %}
   {{ line }}
{% endfor %}
{% endif %}
{% endfor %}

If we need to retrieve information about a specific host/network inside
the EVPN network we need to run

{% for item in hostvars['PE2']['stdout'] %}
{% if item['item']['name'] == 'bgp_evpn_net' %}

.. code-block:: none

   vyos@PE2:~$ {{ item['item']['command'] }}
{% for line in item['stdout_lines'][0] %}
   {{ line }}
{% endfor %}
{% endif %}
{% endfor %}