.. blueprint_ansibleexample


###############
Ansible Example
###############

| Testdate: {{ current_date }}
| Version: {{ node_template_version }}
{% if upgrade %}
| Upgrade Version: {{ upgrade_iso_version }}
{% endif %}

.. image:: {{ output_include_dir }}/topology.png
  :alt: Ansible Example topology image

Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.


Set IPv4 address of RTR01.

.. literalinclude:: {{ output_include_dir }}/rtr01.conf
   :language: none
   :emphasize-lines: 1


Set IPv4 address of RTR02.

.. literalinclude:: {{ output_include_dir }}/rtr02.conf
   :language: none
   :emphasize-lines: 1